
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #ff6f61;
}

marquee p {
    font-size: 1.2em;
    color: #ffd700;
}


h3 {
    border-bottom: 2px solid #ff6f61;
    padding-bottom: 5px;
    color: #00aced;
}


a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #ff4500;
}


ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul img {
    margin: 10px;
    border: 2px solid #ff6f61;
    border-radius: 10px;
}


hr {
    border: 0;
    height: 1px;
    background: #ff6f61;
}

p {
    text-align: center;
    font-size: 0.9em;
}
